<?xml version="1.0" encoding="utf-8"?>

<image schemaversion="7.4" name="Fedora">
	<description type="system">
		<author>Fedora Project Contributors and the t2linux project</author>
		<contact>sharpenedblade@proton.me</contact>
		<specification>t2linux Fedora</specification>
	</description>
	<preferences>
		<version>40</version>
		<packagemanager>dnf</packagemanager>
		<locale>en_US</locale>
		<keytable>us</keytable>
		<timezone>UTC</timezone>
		<release-version>40</release-version>
	</preferences>
	<include from="this://./repositories/core.xml"/>
	<include from="this://./repositories/t2linux.xml"/>
	<include from="this://./components/boot.xml"/>
	<include from="this://./components/desktops/common.xml"/>
	<include from="this://./components/desktops/gnome.xml"/>
	<include from="this://./components/desktops/kde.xml"/>
	<include from="this://./components/desktops/xfce.xml"/>
	<include from="this://./components/desktops/cinnamon.xml"/>
	<include from="this://./components/desktops/mate.xml"/>
	<include from="this://./components/desktops/i3.xml"/>
	<include from="this://./components/desktops/lxqt.xml"/>
	<include from="this://./components/desktops/lxde.xml"/>
	<include from="this://./components/desktops/soas.xml"/>
	<include from="this://./components/desktops/phosh.xml"/>
	<include from="this://./components/desktops/sway.xml"/>
	<include from="this://./components/desktops/budgie.xml"/>
	<include from="this://./components/liveinstall.xml"/>
	<include from="this://./components/users.xml"/>
	<include from="this://./components/t2linux.xml"/>
	<include from="this://./teams/cloud/cloud.xml"/>
	<include from="this://./teams/cloud/container.xml"/>
	<include from="this://./teams/cloud/vagrant.xml"/>
	<include from="this://./teams/workstation.xml"/>
	<include from="this://./teams/kde.xml"/>
	<include from="this://./teams/xfce.xml"/>
	<include from="this://./teams/cinnamon.xml"/>
	<include from="this://./teams/mate.xml"/>
	<include from="this://./teams/i3.xml"/>
	<include from="this://./teams/lxqt.xml"/>
	<include from="this://./teams/lxde.xml"/>
	<include from="this://./teams/soas.xml"/>
	<include from="this://./teams/sway.xml"/>
	<include from="this://./teams/budgie.xml"/>
	<packages type="bootstrap">
		<package name="basesystem"/>
		<package name="filesystem"/>
	</packages>
</image>
